<form method="post" action="/store" enctype="multipart/form-data">
    
    Patente:
    <input type="text" name="txtPatente" id="txtPatente">
    <br>
    
    Hora Ingreso:
    <input type="text" name="txtHoraIngreso" id="txtHoraIngreso">
    <br>
    
    Estacionamiento Desocupado:
    <input type="text" name="txtEstacionamientoD" id="txtEstacionamientoD">
    <br>
    
    Estacionamiento Ocupado:
    <input type="text" name="txtEstacionamientoOcu" id="txtEstacionamientoOcu">
    <br>
    

    Costo Auto:
    <input type="text" name="txtCostoAuto" id="txtCostoAuto">
    <br>

    Costo Tipo Auto:
    <input type="text" name="txtCostoTipoA" id="txtCostoTipoA">
    <br>

    Costo Mensual:
    <input type="text" name="txtCostoMensual" id="txtCostoMensual">
    <br>

    Costo Anual:
    <input type="text" name="txtCostoAnual" id="txtCostoAnual">
    <br>

    Registrado Por:
    <input type="text" name="txtRegistroFuncionario" id="txtRegistroFuncionario">
    <br>
    <br>

    <input type="submit" value="Agregar">

</form>

   
    
